.content-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    min-height: 60px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

.content-body {
    padding-left: 10px;
    padding-right: 10px;
}

.bloque-listado {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #cccccc;
    border: 1px solid #000000;
    border-radius: 5px;
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: center;
    width: 200px;
    max-height: 300px;
    max-width: 600px;
    margin: 20px;
    font-size: 25px;
    transition: all ease-in .15s;
    line-height: 100px;
}

.bloque-listado:hover{
    transform: scale(1.1);
}
.gestion-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    margin: 20px;
}
.bloque-gestion{
    font-family: 'Poppins', sans-serif;
    flex: 1 1 calc(50% - 16px);
    width: 300px;
    height: 150px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    text-align: center;
}

.bloque-gestion h2 {
    font-size: 1.2em;
    margin: 0;
}

.bloque-gestion p {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000
}

.select {
    background-color: #cccccc;
    border: none;
    color: #000000
}

.select option {
    background-color: #ffffff;
    color: #000000
}

.bloque-conf-usuarios {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    color: black;
    background-color: #cccccc;
    border: 1px solid #000000;
    border-radius: 5px;
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: center;
    width: 240px;
    max-height: 420px;
    max-width: 840px;
    margin: 20px;
    font-size: 20px;
    transition: all ease-in .15s;
    line-height: 100px;
}

.bloque-conf-usuarios:hover{
    transform: scale(1.1);
}