.bg-grey{
    background-color: #cccccc;
}

.main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    row-gap: 5px;
    margin-top: 10px;
    padding-left: 15px;
}

.main-title{
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#side-item-brand{
    text-decoration: none;
    color: black;
    border-bottom: 2px inset #000000;
    flex-direction: row;
}

#sidebar-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

#bottom-sidebar-container{
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px
}

.side-item{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: 1px solid #000000;
    text-decoration: none;
    color: rgb(22, 20, 20);
    font-size: 20px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    transition: all ease-in .15s;
}

.side-item:hover{
    background-color: #bbbbbb;
    transform: scale(1.1);
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mt-auto {
    margin-top: auto;
    margin-bottom: 10px;
}

.bottom-side-item{
    border: 1px solid #000000;
    color: rgb(22, 20, 20);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    transition: all ease-in .15s;

}

.bottom-side-item:hover{
    background-color: #bbbbbb;
    transform: scale(1.1);
}